In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [5]:
calender = pd.read_csv(r"C:\Users\ethanwilliams\Desktop\airbnb_ml\Boston\calendar.csv")
listings = pd.read_csv(r"C:\Users\ethanwilliams\Desktop\airbnb_ml\Boston\listings.csv")
reviews = pd.read_csv(r"C:\Users\ethanwilliams\Desktop\airbnb_ml\Boston\reviews.csv")

In [6]:
listings.shape

(3585, 95)

In [7]:
reviews.shape

(68275, 6)

In [9]:
calender.shape

(1308890, 4)

In [14]:
listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'access', 'interaction', 'house_rules',
       'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [15]:
calender.columns

Index(['listing_id', 'date', 'available', 'price'], dtype='object')

In [16]:
calender.head()

   listing_id        date available price
0    12147973  2017-09-05         f   NaN
1    12147973  2017-09-04         f   NaN
2    12147973  2017-09-03         f   NaN
3    12147973  2017-09-02         f   NaN
4    12147973  2017-09-01         f   NaN

In [27]:
listings['id'][:50]

0     12147973
1      3075044
2         6976
3      1436513
4      7651065
5     12386020
6      5706985
7      2843445
8       753446
9       849408
10    12023024
11     1668313
12     2684840
13    13547301
14     5434353
15      225979
16     3420384
17    13512930
18     7482195
19     7252607
20     2583074
21    13251243
22      225834
23     6400432
24     5498472
25      894539
26      879929
27     9218312
28      321328
29     1810172
30     6513924
31     7093109
32    14690527
33     7086825
34     1861070
35     4283698
36    10116095
37     8548176
38     4922204
39     4085362
40     3755609
41    13768853
42     1936861
43     4461111
44     1724900
45    13937181
46     3968797
47     1494726
48     8473851
49     3575220
Name: id, dtype: int64

# Questions 1: 
## How does price change over time for rentals? and do Holidays effect the price

In [28]:
calender_date = calender[['date']]
listings_price = listings[['price','id']]
df_price_query = pd.concat([calender_date, listings_price], axis=1)

In [ ]:
pd.set_option('display.max_rows', None)
print(df_price_query.sort_values(by=['date'], ascending=False))

In [ ]:
df_price_query['date'] = pd.to_datetime(df_price_query['date'])

In [42]:
df_price_query.dtypes

date     datetime64[ns]
price            object
id              float64
dtype: object

In [44]:
df_price_query.date.describe()

count                 1308890
unique                    365
top       2016-12-27 00:00:00
freq                     3586
first     2016-09-06 00:00:00
last      2017-09-05 00:00:00
Name: date, dtype: object

In [46]:
df_price_query.date.value_counts()

2016-12-27    3586
2017-05-06    3586
2016-12-15    3586
2016-09-09    3586
2016-11-07    3586
              ...
2016-11-08    3586
2017-05-16    3586
2017-03-06    3586
2017-02-15    3586
2017-03-03    3586
Name: date, Length: 365, dtype: int64

In [ ]:
df_price_query.shape()